@model Sakura.AspNet.IPagedList<Contact>

@{
    ViewData["Title"] = "Index";
    var pagerOptions = new PagerOptions
    {
        ExpandPageLinksForCurrentPage = 2, // Will display more 2 pager buttons before and after current page.
        PageLinksForEndings = 2, // Will display 2 pager buttons for first and last pages.
        Layout = PagedListPagerLayouts.Default, // Layout controls which elements will be displayed in the pager. For more information, please read the documentation.

        // Options for all pager items.
        Items = new PagerItemOptions
        {
            TextFormat = "{0}", // The format for the pager button text, here means the content is just the actual page number. This property is used with string.Format method.
            LinkParameterName = "page", // This property measn the generated pager button url will append the "page={pageNumber}" to the current URL.
        },

        // Configure for "go to next" button
        NextButton = new SpecialPagerItemOptions
        {
            Text = "Next",
            InactiveBehavior = SpecialPagerItemInactiveBehavior.Disable, // When there is no next page, disable this button
            LinkParameterName = "page"
        },

        // Configure for "go to previous" button
        PreviousButton = new SpecialPagerItemOptions
        {
            Text = "Previous",
            InactiveBehavior = SpecialPagerItemInactiveBehavior.Disable, // When there is no next page, disable this button
            LinkParameterName = "page"
        },

        // Configure for "go to first page" button
        FirstButton = new FirstAndLastPagerItemOptions
        {
            Text = "First",
            ActiveMode = FirstAndLastPagerItemActiveMode.Always,
            InactiveBehavior = SpecialPagerItemInactiveBehavior.Disable,
            LinkParameterName = "page",
        },

        // Configure for "go to last page" button
        LastButton = new FirstAndLastPagerItemOptions
        {
            Text = "Last",
            ActiveMode = FirstAndLastPagerItemActiveMode.Always,
            InactiveBehavior = SpecialPagerItemInactiveBehavior.Disable,
            LinkParameterName = "page",
        },

        // Configure for omitted buttons (placeholder button when there's too many pages)
        Omitted = new PagerItemOptions
        {
            Text = "...",
            Link = string.Empty // disable link
        },
    };
}

<h2>Index</h2>




<p>
    <a asp-action="Create">Create New</a>
</p>



<nav asp-pager-source="Model" asp-pager-options="pagerOptions">
    <hr />



    @foreach (var item in Model)
    {
            

            <div class="row" style="margin-top:20px; margin-bottom:20px">
                <div class="col-xs-12 col-sm-3">
                    <img style="max-height:150px" src="@Url.Content("~/Images/UploadedProfileImages/" + System.IO.Path.GetFileName(item.ProfileImagePath))" alt="" class="img-responsive" />
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span class="name">@item.FirstName @item.LastName</span><br />
                    <span class="name">@item.PhoneNumber</span><br />
                    <span class="name">@item.EmailAddress</span><br />
                    <span class="name">@item.BirthDate</span><br />
                    <span class="name">@item.Comments</span><br />
                    <span class="name">@item.PhoneNumber</span><br />
                    <form role="form">
                        @if (item.isAssociate)
                {
                            <div class="checkbox-inline disabled">
                                <label><input checked type="checkbox" value="" disabled>Associate</label>
                            </div>
                        }
                        @if (item.isColleague)
                {
                            <div class="checkbox-inline disabled">
                                <label><input checked type="checkbox" value="" disabled>Colleague</label>
                            </div>
                        }
                        @if (item.isFamily)
                {
                            <div class="checkbox-inline disabled">
                                <label><input checked type="checkbox" value="" disabled>Family</label>
                            </div>
                        }
                        @if (item.isFriend)
                {
                            <div class="checkbox-inline disabled">
                                <label><input checked type="checkbox" value="" disabled>Friend</label>
                            </div>
                        }
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id" style="margin-right:30px">Edit</a>
                    <button data-toggle="modal" data-target="#confirm-delete">Delete</button>
                </div>
                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                            </div>
                            <div class="modal-body">
                                <p>You are about to delete one record.</p>
                                <p>Do you want to proceed?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <form asp-action="Delete" enctype="multipart/form-data">
                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
    }
</nav>
